<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<nav aria-label="breadcrumb">
    <ul>
        <li>
            <a href="<{$xoops_url}>/">
                <img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" width="1em" height="1em" alt="home">
            </a>
        </li>
        <li>
            <a href="<{xoops_cooluri dirname=$dirname}>">
                <img class="svg folder" src="<{$xoops_url}>/images/icons/folder.svg" width="1em" height="1em" alt="category"> <{$smarty.const._MD_LECAT_LANG_CAT}>
            </a>
        </li>
    </ul>
</nav>

<{if $xoops_isadmin}>

<form action="<{xoops_cooluri dirname=$dirname dataname=cat action=edit}>" method="post"  enctype="multipart/form-data">

<article id="lecat">

    <header>
        <h2><{$smarty.const._MD_LECAT_LANG_CAT_EDIT}> -
            <{if $actionForm->get('cat_id')}>
                <{$smarty.const._MD_LECAT_LANG_CAT_EDIT}>
            <{else}>
                <{$smarty.const._MD_LECAT_LANG_ADD_A_NEW_CAT}>
            <{/if}>
        </h2>
    <p>
        <{include file="db:`$dirname`_inc_menu.html" dirname=$dirname}>
    </p>
    </header>

    <{if $actionForm->hasError()}>
    <ul class="error">
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
    <{/if}>

  <table class="outer">
   <tbody>
      <tr>
        <th><{$smarty.const._MD_LECAT_LANG_TITLE}></th>
        <td>
          <{xoops_input type=text name=title value=$actionForm->get('title') size=15 maxlength=191}>
        </td>
      </tr>
      <tr>
         <th><{$smarty.const._MD_LECAT_LANG_PARENT}></th>
         <td>
          <select name="p_id">
          <option value="0">TOP</option>
          <{legacy_category_select tree=$catArr selectedValue=$object->get('p_id')}>
          </select>
        </td>
      </tr>
      <tr>
         <th><{$smarty.const._MD_LECAT_LANG_MODULES_CONFINEMENT}></th>
         <td>
          <{xoops_textarea type=text name=modules value=$actionForm->get('modules')}><br />
             <small><{$smarty.const._MD_LECAT_TIPS_MODULE_CONFINEMENT}></small>
        </td>
      </tr>
      <tr>
        <th><{$smarty.const._MD_LECAT_LANG_DESCRIPTION}></th>
         <td>
          <{xoops_textarea type=text name=description value=$actionForm->get('description')}>
        </td>
      </tr>
      <tr>
         <th><{$smarty.const._MD_LECAT_LANG_WEIGHT}></th>
         <td>
          <{xoops_input type=number name=weight value=$actionForm->get('weight')}>
        </td>
      </tr>
      <{foreach item=imageKey from=$imageNameList key=n}>
      <tr>
          <th><{$imageNameList[$n]}></th>
          <td>
              <{if $imageObjs[$n] && $imageObjs[$n]->isNew()===false}>
              <{xoops_input type="checkbox" name="legacy_image_delete[$n]" value="1"}>
              <{$imageObjs[$n]->makeImageTag(0)}><br />
              <{/if}>
              <{xoops_input type="file" name="legacy_image[$n]" size="30"}>
              <{xoops_input type="hidden" name="legacy_image_id[$n]" value=$imageObjs[$n]->getShow('image_id')}>
          </td>
      </tr>
      <{/foreach}>
   </tbody>
  </table>

    <{xoops_token form=$actionForm}>
    <{xoops_input type=hidden name=cat_id value=$actionForm->get('cat_id')}>

    <footer class="action-control">
        <input type="submit" class="outline" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel">
        <input  type="submit" class="primary" value="<{$smarty.const._SUBMIT}>">
    </footer>

</article>

</form>
<{else}>
<script>history.go(-1);</script>
<div class="alert error">
    <a href="<{xoops_cooluri dirname=$dirname}>"><{$smarty.const._MD_LECAT_LANG_CAT}></a>
</div>
<{/if}>
